@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap");
:root {
  --primary-blue: #61dafb;
  --secondary-color: #282c34;
  --offset-color: #464955;
}

body {
  font-family: "Rubik", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--secondary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ***************** NAVBAR ******************** */
.logo {
  color: var(--secondary-color) !important;
  text-shadow: 1px 1px var(--primary-blue);
  font-size: 2rem !important;
  margin: 1.5rem 0 auto 2rem;
}

/* ***************** Menu Links **************************** */
nav {
  z-index: 5;
}

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.02rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
  z-index: 2;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--secondary-color) !important;
  text-shadow: 1px 1px var(--primary-blue);
  font-size: 1.2rem !important;
  border-top: 0.15rem solid var(--secondary-color);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.15rem solid var(--primary-blue);
}

.navbar-nav > li > a:hover {
  border-top: 0.15rem solid var(--primary-blue);
}

/* ********** HEADER *********** */

.header-wrapper {
  position: relative;
  background: url(../src/davids-avatar.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 85vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Rubik", sans-serif;
}

.main-info h1 {
  margin-top: 2rem;
  color: #000000;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: 2px 2px var(--primary-blue);
}

/* ****** Typed Text****** */
.typed-text {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #000000;
  text-shadow: 2px 2px var(--primary-blue);
}

/* ****** Header main offer button******* */
.btn-main-offer {
  background-color: #5a585d;
  border: 3px solid var(--primary-blue);
  border-radius: 10px;
  color: #000000;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 3rem;
  opacity: 0.9;
  padding: 0.6rem 0.75rem 0.75rem 0.75rem;
  text-shadow: 1px 1px var(--primary-blue);
  z-index: 2;
}

.btn-main-offer:hover {
  background-color: var(--primary-blue);
  text-decoration: none;
}

.header-wrapper .main-info form {
  z-index: 3;
}

/* ******** TS Particles ******** */
#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 99vw;
  z-index: 1;
}

/* ********* Media Queries ******* */
/* @media (max-width: 768px) {
  .particles-canvas {
    display: none;
  }

  .main-info h1 {
    font-size: 1.5rem;
  }

  .typed-text {
    font-size: 1.7rem;
  }
} */

/* ********* About Me ********** */
.about-me {
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--primary-blue);
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  word-spacing: 0.3rem;
  justify-content: center;
  padding: 1.5rem;
  text-align: center;
  z-index: 2;
}

.project-element {
  margin-top: 3rem;
}

/* ********* Projects ********* */
#projects {
  background-color: var(--secondary-color);
}

.carousel-item {
  background-color: #282c34;
  padding-bottom: 5%;
  /* align-items: center; */
  /* margin: 0 50%; */
}

.slide-size-container {
  height: 35rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  width: 80%;
  margin: 0 auto;
  z-index: 2;
}

/* sets slide's image */
/* carousel item 1 | Code Refactor */
.horiseon_image {
  /* background: url(../src/images/project-images/resized-800W-px-horiseon-project.jpg)
  no-repeat; */
  background: url(../src/images/560by455/560-horiseon-project.png) no-repeat;
}

/* carousel item 2 | Professional Portfolio */
.static_port_image {
  /* background: url(../src/images/project-images/resized-800W-px-davids-avatar.jpg)
    no-repeat; */
  background: url(../src/images/560by455/560-davids-avatar.png) no-repeat;
}

/* carousel item 3 | Password Generator */
.password_gen {
  /* background: url(../src/images/project-images/resized-800W-px-Password-Generator.png)
    no-repeat; */
  background: url(../src/images/560by455/560-Password-Generator.png) no-repeat;
}

/* carousel item 4 | Code Quiz */
.code_quiz {
  /* background: url(../src/images/project-images/resized-800W-px-code-quiz.png)
    no-repeat; */
  background: url(../src/images/560by455/560-code-quiz.png) no-repeat;
}

/* carousel item 5 | Work Day Scheduler */
.work-day-scheduler {
  /* background: url(../src/images/project-images/resized-800W-px-work-day-scheduler.png)
    no-repeat; */
  background: url(../src/images/560by455/560-work-day-scheduler.png) no-repeat;
}

/* carousel item 6 | Weather Dashboard | Coming Soon! */

/* carousel item 7 | Interactive Front-End Project | Camping Buddy */
.camping_buddy_image {
  background: url(../src/images/560by455/560-campingBuddyScreenshot.png)
    no-repeat;
}

/* carousel item 8 | Read Me Generator */
.read_me_gen_img {
  background: url(../src/images/560by455/560-readme-gen.png) no-repeat;
}

/* carousel item 9 | Team Profile Generator */
.team-pro-gen-img {
  background: url(../src/images/560by455/560-team-profile-generator-img.png)
    no-repeat;
}

/* carousel item 10 | Express Note Taker | Coming Soon! */

/* carousel item 11 | Employee Tracker */
.employee-tracker-img {
  background: url(../src/images/560by455/560-employee-tracker-img.png) no-repeat;
}

/* carousel item 12 | ORM E-Commerce Back-End | Coming Soon! */

/* carousel item 13 | MVC Tech Blog */
.mvc-tech-blog-img {
  background: url(../src/images/560by455/560-mvc-tech-blog.png) no-repeat;
}

/* carousel item 14 | Sports Vibes | Group Project */
.sports-vibes-img {
  background: url(../src/images/560by455/560-SportsVibes.png) no-repeat;
}

/* carousel item 15 | Regex Tutorial */
.regex-tut-img {
  background: url(../src/images/560by455/560-regex-tut-img.png) no-repeat;
}

/* carousel item 16 | Social Network API | Coming Soon! */

/* carousel item 17 | Budget Tracker */
.budget_tracker_image {
  background: url(../src/images/560by455/560-budget-tracker-screenshot.png)
    no-repeat;
}

/* carousel item 18 | Book Search Engine */
.book-search-eng-img {
  background: url(../src/images/560by455/560-book-search-eng.png) no-repeat;
}

/* carousel item 18 | Redux Store | Coming Soon! */

/* carousel item 19 | Star Talk | Final Project */
.star_talk_image {
  background: url(../src/images/560by455/560-px-star-talk.png) no-repeat;
}

/* general container for slide images */
/* .github-repo-link {
  float: right;
  margin-right:35%;
} */

.project-img-link {
  height: 100%;
  width: 50%;
}

.github-repo-link {
  margin: 0 auto;
}

.project-img-link a .project-img-setup {
  position: relative;
  background-size: cover;
  background-position: center center;
  /* background-position: center top; */
  height: 100%;
  width: 75%;
  /* height: 100px;
  width: 100px; */
  margin: 0 auto;
}
/* 
.img-left-top {
  background-position: left top;
} */

.project-title {
  text-decoration: none;
  color: var(--primary-blue) !important;
  text-shadow: 3px 3px var(--secondary-color);
  font-weight: bolder;
  font-size: 2rem;
  padding: 0 15px;
  margin: 1.5rem 0 auto 2rem;
  margin-bottom: 2rem;
}
/* 
a .project-title {
  text-align: none !important;
} */

.project-subtitle {
  text-decoration: none !important;
  color: var(--primary-blue) !important;
  text-shadow: 3px 3px var(--secondary-color);
  font-weight: bolder;
  font-size: 1.5rem;
  padding: 0 15px;
  margin: 1.5rem 0 auto 2rem;
}

/* a .project-subtitle {
  text-decoration: none !important;
} */

.project-p {
  text-decoration: none;
  color: var(--primary-blue) !important;
  text-shadow: 3px 3px var(--secondary-color);
  font-weight: bolder;
  font-size: 1.2rem;
  padding: 0 15px;
  margin: 1.5rem 0 auto 2rem;
}

.sr-only {
  z-index: 4;
}

.car-arrow-bg {
  height: 3rem;
  width: 3rem;
  background-color: black;
  border-radius: 50%;
  z-index: 2;
}

/* ********** Contact ************ */
#contact-me {
  height: 3rem;
  margin-top: 0.5rem;
  z-index: 2;
}

#contact-me form input {
  border: 2px var(--secondary-color) solid;
  border-radius: 4px;
  margin: 0 0.5rem;
}

/* *************** Resume ************* */
.resume-form {
  background-color: var(--secondary-color);
  height: 100%;
  width: 99vw;
  text-align: center;
}

.resume-form h1 {
  color: var(--primary-blue);
  margin: 0 auto;
}

.resume-doc {
  background: url(../src/images/Test\ Resume.pdf) no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 75%;
  margin: 0 auto;
}

/* ******** Footer ******** */
.footer {
  background-color: var(--secondary-color);
  color: var(--primary-blue);
  text-align: center;
  z-index: 2;
  padding: 10px 0;
}
