@media screen and (max-width: 1200px) {
  .slide-size-container {
    display: block;
    height: 100%;
    align-items: center;
  }

  .project-img-link {
    height: 20rem;
    width: 100%;
  }

  .github-repo-link {
    height: 50%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .particles-canvas {
    display: none;
  }

  .main-info h1 {
    font-size: 1.5rem;
  }

  .typed-text {
    font-size: 1.7rem;
  }

  .github-repo-link {
    margin-top: 10rem;
  }
}
